/*
remove all preexisting margins and define the main text
style for the page
 */
body{
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
}

/*
define the font style for every heading type
 */
h1, h2, h3, h4, h5, h6{
    font-family: "Arial Black", Gadget, sans-serif;
}

/*
place main where there isn't anything to the left of it
give it some padding so that it's not right up to the edge
of the page or other elements to improve readability
 */
main{
    clear: left;
    padding: 1em 3em;
}

/*
give the aside space so that it's not right up against the
edge of the page or other elements
 */
aside{
    padding: 1em 3em;
}

/*
header and footer are the same style
Give colourful background to distinguish it from the main content
use white font to make the text more readable to the user in contrast
to the blue background
 */
header, footer{
    background-color: #2196F3;
    color: #FFFFFF;

    /*
    included black border bottom because white space appeared without
    it and made the page look unaesthetically pleasing
     */
    border-bottom: solid 2px #000000;
}

/*
move the header slightly left so it doesn't get mixed up with the logo
improving readability
 */
header > h1{
    margin: 0.5em 4em;
}

/*
add a border to top to improve aesthetics
 */
footer{
    border-top: solid 2px #000000;
    padding: 0.3em 4em;
}

/*
force <a> link in footer to be white to improve user readability
 */
footer > a{
    color: #FFFFFF;
}

/*
place the login and logout forms to the top right of the page
so the user will easily notice it, keep constant throughout the
site to improve site usability
 */
#login, #logout{
    background-color: #1976D2;
    color: #FFFFFF;

    text-align: right;

    /*
    include padding so it's not right next to the edge of other elements
    and improve readability
     */
    padding: 8px;

}

/*
display bookselect when there is nothing either side of it
make background white incase the background isn't already white
and apply a border bottom to distinguish one book select
from another book select or another element on the page
 */
.bookSelect{
    clear: both;
    padding: 0.1em 2em;
    color: #000000;
    border-bottom: solid 1px #BDBDBD;
}

/*
remove all text decoration from a links
so that text looks normal and more presentable
 */
a{
    display: block;
    text-decoration: none;
}

/*
when hovering over an a link that is a book select
make the background and border bottom darker so that
it is clear to the user this element is clickable
 */
a > .bookSelect:hover{
    background-color: #E6E6E6;
    border-bottom: solid 1px #000000;
}

/*
remove all padding and margin around the nav bar and
the bullet points from the lists
Give a dark background for the user to easily identify
amongst the other elements on the page
 */
ul#navBar{
    list-style-type: none;
    margin: 0;
    padding: 0 5em;
    overflow: hidden;
    background-color: #607D8B;
    border-bottom: solid 2px #000000;
}

/*
have nav bar links display side by side for as long as there is room
 */
#navBar li{
    float: left;
}

/*
define the appearance of links within the nav bar

make it so each element is the same size and make the button
easier to click by using display block so the user can click
the whole container and not just the text
 */
#navBar a{
    width: 7em;
    display: block;
    font-family: "Arial Black", Gadget, sans-serif;
    padding: 0.5em 2em;
    color: #FFFFFF;
    text-align: center;
}

/*
clearly display the nav link the user is about to click by
darkening the background colour
 */
#navBar a:hover{
    background-color: #2A373C;
}

/*
place the form container with a width of 60% in the middle
pushing the contents on the right closer to the contents on
the left to improve user readability
 */
#bookForm{
    margin: auto;
    width: 60%;
    padding: 0 10em 3em 0;
}

/*
Display all labels to the left of the container and inline to their
corresponding input or select
 */
#bookForm > label{
    display: block;
    margin: 0.5em 0;
    text-align: left;
}

/*
put all book for input and select elements to the right of the container
ensure they are all the same size to make it more presentable
 */
#bookForm > label > input, #bookForm > label > select{
    float: right;
    box-sizing: border-box;
    width: 75%;
}

/*put the submit button to the right*/
#bookForm > input{
    float: right;
}

/*
put logo in the very top left corner of the page
make it have a fixed width of 7em
 */
#logo{
    position: absolute;
    left: 0;
    top: 0;
    width: 7em;
    float: left;
}

/*
Styling for the autocomplete display
 */
/*
give the ul a white background to make it's items more
readable and so that the page doesn't interfere with the
display of the autocomplete list items
 */
ul.ui-autocomplete{
    /*
    remove all padding and margins
     */
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    /*
    remove list style such as bullet points
     */
    list-style-type: none;
    /*
    Add border to easily distinguish the auto complete from the rest
     of the page
     */
    border: solid 1px #000000;
    width: 8em;
}

/*
have every item have a bottom border and add padding
to give space and easily identify each element
 */
li.ui-menu-item{
    padding: 0.1em 0.5em;
    border-bottom: solid 1px #BDBDBD;
}

/*
change background colour to indicate to the user that they can click on
the item and it will do something, also helps to identify which element
they are about to click on
 */
li.ui-menu-item:hover{
    background-color: #E6E6E6;
}

/*
hide the helper, unnecessary for the user
 */
.ui-helper-hidden-accessible{
    visibility: hidden;
}